<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/sign-in\.html" module="Connexion" action="index" ></route>
    <route url="/sign-out\.html" module="Connexion" action="signOut" ></route>
    <route url="/(?:\?page=(.*))?" module="News" action="index" vars="page"></route>
    <route url="/news-([0-9]+)\.html(?:\?page=(.*))?" module="News" action="show" vars="id,page"></route>
    <route url="/comment-([0-9]+)\.html" module="News" action="insertComment" vars="news" ></route>
    <route url="/comment-update-([0-9]+)\.html" module="News" action="updateComment" vars="id" ></route>
    <route url="/comment-delete-([0-9]+)\.html" module="News" action="deleteComment" vars="id" ></route>
    <route url="/sign-up\.html" module="Member" action="signUp" ></route>
    <route url="/activation-link-renew\.html" module="Member" action="renewActivationLink" ></route>
    <route url="/member-activate-(\S+)\.html" module="Member" action="activate" vars="token"></route>
    <route url="/renewpasswordlink-send\.html" module="Member" action="generateRenewPasswordLink" ></route>
    <route url="/password-renew-(\S+)\.html" module="Member" action="renewPassword" vars="token"></route>
    <route url="/profile\.html" module="Member" action="index" ></route>
    <route url="/members\.html(?:\?page=(.*))?" module="Member" action="list" vars="page"></route>
    <route url="/member-update\.html" module="Member" action="updateMember" ></route>
    <route url="/member-delete\.html" module="Member" action="deleteMember" ></route>
    <route url="/password-change\.html" module="Member" action="changePassword" ></route>
</routes>
