<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/API/login-check\?login=\S*" module="Member" action="checkLogin" ></route>
    <route url="/API/member" module="Member" action="index" ></route>
    <route url="/API/members(?:\?page=[1-9]\d*)?" module="Member" action="list"></route>
    <route url="/API/members/(\d+)" module="Member" action="member" vars="id"></route>
</routes>
